@color-basil: #A6E22E;
@color-bubble-gum: #FF5063;
@color-crockery: #F8F8F0;
@color-eggplant: #371B52;
@color-eggplant-pickle: #00263F;
@color-hard-boiled-egg-yolk: #E6DB74;
@color-lavender: #AE81FF;
@color-moldy-parmesan: #E0EDDD;
@color-mozzerella: #FAFFDC;
@color-mustard: #FFB900;
@color-old-eggplant: #75715E;
@color-olive-oil: #F7FF00;
@color-parmesan: #EEE8D5;
@color-plum: #4D0049;
@color-prune: #100010;
@color-raw-chicken: #FFCDF0;
@color-scrambled-eggs: #FFE792;
@color-semolina: #A57706;
@color-sky: #268BD2;
@color-sugo: #FF445A;
@color-tangerine: #FF6728;
@color-tomato-sauce: #E83209;
@color-wasabi: #C0E0B8;
@color-wintergreen: #11C5BF;
